In [1]:
import pickle
from pathlib import Path
import pandas as pd 
import os
import sys
import tdt

In [2]:
import data_set_generate_helper_functions as ghf

In [3]:
sys.executable

'/anaconda3/bin/python3'

# Path to all the raw data:

In [4]:
path_to_raw_data = "/Volumes/GilInVivoPaper.large/2.Photometry_in_str/0.data_Sets"

# Where is the data set of interest:

In [5]:
folder_name="1.lateral_medial_6" #folder where the raw data is.

In [6]:
path_to_import = path_to_raw_data+"/"+folder_name
path_to_import

'/Volumes/GilInVivoPaper.large/2.Photometry_in_str/0.data_Sets/1.lateral_medial_6'

# Where to save the data:

In [7]:
path_to_save = "/Volumes/GilInVivoPaper.large/2.Photometry_in_str/"+folder_name+"_analysis"
path_to_save

'/Volumes/GilInVivoPaper.large/2.Photometry_in_str/1.lateral_medial_6_analysis'

# import the data table:

In [8]:
#name of xlsx file that has the sessions we want to run: 
MasterSheetName= 'lateral_ medial_6_to_run_analysis'

In [9]:
Mouse_Date_FileName = pd.read_excel(path_to_import+'/'+MasterSheetName+'.xlsx') #mdf is mouse data file

In [10]:
#Mouse_Date_FileName = Mouse_Date_FileName.drop([16])

In [11]:
Mouse_Date_FileName

    mouse    date    file name
0    T163  181127  T163-144959
1    T163  181128  T163-115220
2    T163  181130  T163-133215
3    T163  181203  T163-115901
4    T163  181204  T163-114628
..    ...     ...          ...
99   T202  190525  T202-153611
100  T202  190526  T202-142728
101  T202  190528  T202-140948
102  T202  190529  T202-160644
103  T202  190530  T202-152554

[104 rows x 3 columns]

In [17]:
#Mouse_Date_FileName = Mouse_Date_FileName.loc[0:2]

In [18]:
Mouse_Date_FileName

  mouse    date    file name
0  T163  181127  T163-144959
1  T163  181128  T163-115220
2  T163  181130  T163-133215

In [39]:
def reading_in_photometryData_all_Channels(photometry_data):
    
    photometry_all_channels_d = {}
    photometry_all_channels_d["d2 R"]=photometry_data.streams.grn1.data 
    photometry_all_channels_d["d1 R"]=photometry_data.streams.red1.data 
    
    
    photometry_all_channels_d["d2 L"]=photometry_data.streams.grn2.data 
    photometry_all_channels_d["d1 L"]=photometry_data.streams.red2.data 
    
    photometry_all_channels= pd.DataFrame(data=photometry_all_channels_d)
    
    return (photometry_all_channels)

In [40]:
def extract_data_set(Mouse_Date_FileName,path_to_import,path_to_save):   

    l_mouse = list(Mouse_Date_FileName["mouse"]) 
    l_photo_day = list(Mouse_Date_FileName["file name"]) 

    raw_photo_data_per_trial_channels_data_set = []
    counter = 1 
    
    
    numer_of_sessions_dataset = len(l_mouse)
    
    for (mouse, photo_day) in zip(l_mouse, l_photo_day):
        print ("session number"+" "+str(counter)+" "+"was imported (out of"+" "+str(numer_of_sessions_dataset)+")")
        
        photometry_data = tdt.read_block(path_to_import+"/"+mouse+"/"+photo_day)
        photometry_data = reading_in_photometryData_all_Channels(photometry_data)
        raw_photo_data_per_trial_channels_data_set.append(photometry_data)
        
        counter += 1 
        
    return raw_photo_data_per_trial_channels_data_set

In [41]:
data_set = extract_data_set(Mouse_Date_FileName,path_to_import,path_to_save)

session number 1 was imported (out of 3)
read from t=0s to t=1235.57s
session number 2 was imported (out of 3)
read from t=0s to t=1288.2s
session number 3 was imported (out of 3)
read from t=0s to t=1338.08s

In [34]:
data_set[0].keys()[1]

'd1 R'

In [ ]:
def plot_raw_traces (raw_data,channel_name)

    plt.plot(raw_data,linewidth=2, label=channel_name)
    plt.show()

    
#     # Add legend
#     plt.legend(loc='lower left')
    
#     # Add title and x, y labels
#     plt.title(trial_type, fontsize=16, fontweight='bold')
#     plt.suptitle(cell_type, fontsize=16)

#     plt.xlabel("time_bins")

#     #the y axis is defined in the paper mill. This allows to run 7_b with 3a,3b,3c and any future 3s, easliy changing the 
#     #the name of the y axis to not cause confusion. 
#     plt.ylabel(y_axis)
#     plt.savefig(path_to_plot+"_"+trial_type+cell_type+'.pdf')
#     plt.show()

In [47]:
for data_session in data_set: 
    print (data_session)
    print (data_session.keys())
#     for channel_name in data_session.keys():
#         plot_raw_traces(data_session[channel_name],channel_name)

               d2 R        d1 R        d2 L        d1 L
0          0.235543    0.357189    0.259591    0.273457
1          0.238212    0.364245    0.251423    0.269650
2          0.240774    0.371143    0.243186    0.265820
3          0.243224    0.377872    0.234890    0.261986
4          0.245556    0.384422    0.226544    0.258172
...             ...         ...         ...         ...
1256827  470.992065  321.918915  308.153687  361.480591
1256828  470.981812  321.924744  308.138641  361.483521
1256829  470.971069  321.930725  308.124084  361.486420
1256830  470.959930  321.936829  308.109924  361.489349
1256831  470.948456  321.942993  308.096191  361.492249

[1256832 rows x 4 columns]
Index(['d2 R', 'd1 R', 'd2 L', 'd1 L'], dtype='object')
               d2 R        d1 R        d2 L        d1 L
0          0.478921    0.424884    0.524244    0.265896
1          0.480466    0.418782    0.521244    0.267785
2          0.481840    0.412701    0.518070    0.269684
3          0.483037    0.406659    0.514722    0.271590
4          0.484050    0.400677    0.511203    0.273498
...             ...         ...         ...         ...
1310331  432.713135  285.172211  292.839294  321.636566
1310332  432.705719  285.168182  292.854279  321.653870
1310333  432.697235  285.163910  292.869385  321.671173
1310334  432.687653  285.159424  292.884583  321.688599
1310335  432.676971  285.154694  292.899933  321.706024

[1310336 rows x 4 columns]
Index(['d2 R', 'd1 R', 'd2 L', 'd1 L'], dtype='object')
               d2 R        d1 R        d2 L        d1 L
0          0.328710    0.136567    0.218904    0.200837
1          0.326382    0.129584    0.221968    0.202825
2          0.323902    0.122971    0.225051    0.204884
3          0.321272    0.116812    0.228144    0.207016
4          0.318495    0.111200    0.231240    0.209225
...             ...         ...         ...         ...
1361147  364.331940  255.096191  340.450562  295.595856
1361148  364.351746  255.102097  340.450653  295.599823
1361149  364.371124  255.107803  340.451080  295.604126
1361150  364.390106  255.113342  340.451935  295.608734
1361151  364.408783  255.118698  340.453064  295.613647

[1361152 rows x 4 columns]
Index(['d2 R', 'd1 R', 'd2 L', 'd1 L'], dtype='object')

# Import the full data structure for each session:

In [ ]:
if not os.path.exists(path_to_save):
    os.makedirs(path_to_save)

In [ ]:
%%time
root = Path(path_to_save)
d = "data_object_photometry"+"_"+seq_str+'.pickle'
my_path = root / d 
my_file = open(my_path, 'wb')
my_file = pickle.dump((data_set),my_file)