In [1]:
import pickle
from pathlib import Path
import pandas as pd 
import os
import sys
import tdt

In [2]:
import data_set_generate_helper_functions as ghf

In [3]:
sys.executable

'/anaconda3/bin/python3'

# Path to import the data

not the analysis folder because we are importing the raw traces

In [4]:
path_to_import ="/Volumes/GilInVivoPaper.large/2.Photometry_in_str/0.data_Sets/1.lateral_medial_6"

# Path to save the data

In [5]:
path_to_save = "/Volumes/GilInVivoPaper.large/2.Photometry_in_str/1.lateral_medial_6_analysis"

# Folder to save the data:

In [6]:
folderName="raw_traces_data_set" #folder where the plot data_set will be saved 
#folderName="left_dual_color_photo_full_data_set_after_inspection" #folder where the plot data_set will be saved

In [7]:
full_path_to_save = path_to_save+"/"+folderName
full_path_to_save

'/Volumes/GilInVivoPaper.large/2.Photometry_in_str/1.lateral_medial_6_analysis/raw_traces_data_set'

# import the data table:

In [8]:
#name of xlsx file that has the sessions we want to run: 
MasterSheetName= 'lateral_ medial_6_behavior'

In [9]:
path_to_import+'/'+MasterSheetName+'.xlsx'

'/Volumes/GilInVivoPaper.large/2.Photometry_in_str/0.data_Sets/1.lateral_medial_6/lateral_ medial_6_behavior.xlsx'

In [10]:
Mouse_Date_FileName = pd.read_excel(path_to_import+'/'+MasterSheetName+'.xlsx') #mdf is mouse data file

In [11]:
Mouse_Date_FileName

,mouse,date,file name,1122,1111,2211,2121,1122.1,1111.1,2211.1,...,d2 R RAW,d1 L RAW,d2 L RAW,d1 R AVG,d2 R AVG,d1 L AVG,d2 L AVG,mouse.1,date.1,file name.1
0,T163,181127,T163-144959,7,58,17,6,3,57,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T163,181127,T163-144959
1,T163,181128,T163-115220,9,61,16,0,6,69,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T163,181128,T163-115220
2,T163,181130,T163-133215,9,56,16,3,2,47,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T163,181130,T163-133215
3,T163,181203,T163-115901,8,49,16,0,8,61,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T163,181203,T163-115901
4,T163,181204,T163-114628,9,52,19,4,8,65,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T163,181204,T163-114628
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,T202,190525,T202-153611,2,38,15,5,2,22,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T202,190525,T202-153611
100,T202,190526,T202-142728,5,50,17,0,9,55,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T202,190526,T202-142728
101,T202,190528,T202-140948,5,28,9,2,4,30,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T202,190528,T202-140948
102,T202,190529,T202-160644,4,57,11,2,10,55,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T202,190529,T202-160644
103,T202,190530,T202-152554,5,31,5,2,7,47,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T202,190530,T202-152554

In [12]:
#Mouse_Date_FileName = Mouse_Date_FileName.iloc[0:30,:]

In [13]:
#Mouse_Date_FileName

# Import the full data structure for each session:

In [ ]:
%%time
data_set = ghf.extract_data_object_photometry_raw_traces(Mouse_Date_FileName,
                                                         path_to_import,
                                                         path_to_save)

session number 1 was imported (out of 104)
read from t=0s to t=1235.57s
session number 2 was imported (out of 104)
read from t=0s to t=1288.2s
session number 3 was imported (out of 104)
read from t=0s to t=1338.08s
session number 4 was imported (out of 104)
read from t=0s to t=1354.94s
session number 5 was imported (out of 104)
read from t=0s to t=1301.59s
session number 6 was imported (out of 104)
read from t=0s to t=1264.2s
session number 7 was imported (out of 104)
read from t=0s to t=1414.42s
session number 8 was imported (out of 104)
read from t=0s to t=1265.19s
session number 9 was imported (out of 104)
read from t=0s to t=1383.3s
session number 10 was imported (out of 104)
read from t=0s to t=1419.37s
session number 11 was imported (out of 104)
read from t=0s to t=1086.68s
session number 12 was imported (out of 104)
read from t=0s to t=1213.68s
session number 13 was imported (out of 104)
read from t=0s to t=1457.54s
session number 14 was imported (out of 104)
read from t=0s to t=1397.89s
session number 15 was imported (out of 104)
read from t=0s to t=1318.45s
session number 16 was imported (out of 104)
read from t=0s to t=1225.42s
session number 17 was imported (out of 104)
read from t=0s to t=1197.07s
session number 18 was imported (out of 104)
read from t=0s to t=1259.2s
session number 19 was imported (out of 104)
read from t=0s to t=1186.42s
session number 20 was imported (out of 104)
read from t=0s to t=1270.39s
session number 21 was imported (out of 104)
read from t=0s to t=1186.67s
session number 22 was imported (out of 104)
read from t=0s to t=1296.06s
session number 23 was imported (out of 104)
read from t=0s to t=1262.42s
session number 24 was imported (out of 104)
read from t=0s to t=1221.82s
session number 25 was imported (out of 104)
read from t=0s to t=1314.68s
session number 26 was imported (out of 104)
read from t=0s to t=1312.75s
session number 27 was imported (out of 104)
read from t=0s to t=1254.28s
session number 28 was imported (out of 104)
read from t=0s to t=1233.64s
session number 29 was imported (out of 104)
read from t=0s to t=1202.77s
session number 30 was imported (out of 104)
read from t=0s to t=1184.74s
session number 31 was imported (out of 104)
read from t=0s to t=1279.7s
session number 32 was imported (out of 104)
read from t=0s to t=1229.37s
session number 33 was imported (out of 104)
read from t=0s to t=1157.39s
session number 34 was imported (out of 104)
read from t=0s to t=1192.19s

In [ ]:
list(data_set[0].keys())

In [ ]:
if not os.path.exists(full_path_to_save):
    os.makedirs(full_path_to_save)

In [ ]:
root = Path(full_path_to_save)
d = "data_object_photometry_raw_traces"+'.pickle'
my_path = root / d

In [ ]:
my_path

In [ ]:
%%time
my_file = open(my_path, 'wb')
my_file = pickle.dump((data_set),my_file)