In [1]:
import pickle
from pathlib import Path
import pandas as pd 
import os
import sys

In [2]:
#import data_set_generate_helper_functions as ghf

In [3]:
sys.executable

'/anaconda3/bin/python3'

# Import the data and where to save it

In [4]:
path = "/Volumes/GilInVivoPaper.large/2.Photometry_in_str/1.lateral_medial_6_analysis"

# Update depending on analysis:

In [5]:
seq_str = '0a1b2a3b4abcde5a6a7a'
HowManyBack=1

In [6]:
version_of_notebook_2_3=seq_str[seq_str.index('2'):seq_str.index('4')]

In [7]:
version_of_notebook_2_3

'2a3b'

# folder that has the whole analysis of that type:

In [8]:
folderName="right_dual_color_photo_full_data_set_after_inspection" #folder where the plot data_set will be saved 
#folderName="left_dual_color_photo_full_data_set_after_inspection" #folder where the plot data_set will be saved

In [9]:
path_to_save = path+"/"+folderName+"/"+seq_str
#path_to_save = path+"/"+folderName+"/"

In [10]:
path_to_save

'/Volumes/GilInVivoPaper.large/2.Photometry_in_str/1.lateral_medial_6_analysis/right_dual_color_photo_full_data_set_after_inspection/0a1b2a3b4abcde5a6a7a'

# import the data table:

In [11]:
#name of xlsx file that has the sessions we want to run: 
MasterSheetName= 'lateral_ medial_6_to_run_analysis'

In [12]:
Mouse_Date_FileName = pd.read_excel(path+'/'+MasterSheetName+'.xlsx') #mdf is mouse data file

In [13]:
Mouse_Date_FileName

    mouse    date    file name
0    T163  181127  T163-144959
1    T163  181128  T163-115220
2    T163  181130  T163-133215
3    T163  181203  T163-115901
4    T163  181204  T163-114628
..    ...     ...          ...
99   T202  190525  T202-153611
100  T202  190526  T202-142728
101  T202  190528  T202-140948
102  T202  190529  T202-160644
103  T202  190530  T202-152554

[104 rows x 3 columns]

In [14]:
Mouse_Date_FileName = Mouse_Date_FileName.iloc[0:5,:]

In [ ]:
#Mouse_Date_FileName

# Import the full data structure for each session:

In [15]:
def generate_date_(Date):
    return('20'+str(Date)[:2]+'_'+str(Date)[2:4]+'_'+str(Date)[4:6])

def generate_name_and_date(Date,Mouse):
    return ('20'+str(Date)[:2]+'_'+str(Date)[2:4]+'_'+str(Date)[4:6]+'__'+Mouse)

In [16]:
def extract_photometry_after_down_sampling(Mouse_Date_FileName,path,version_of_notebook_2_3,HowManyBack):
    version_of_notebook_3 = version_of_notebook_2_3[-1]
    PhotoData_perTrial_channels_data_set = []
    counter = 1 
    
    l_mouse = list(Mouse_Date_FileName["mouse"]) 
    l_date_ = list(Mouse_Date_FileName.apply(lambda x: generate_date_(x["date"]),axis=1))  
    l_date_and_name = list(Mouse_Date_FileName.apply(lambda x: generate_name_and_date(x["date"],x["mouse"]),axis=1))
    
    numer_of_sessions_dataset = len(l_mouse)
    
    for (mouse, date_, date_and_name) in zip(l_mouse, l_date_, l_date_and_name):
        print ("session number"+" "+str(counter)+" "+"was imported (out of"+" "+str(numer_of_sessions_dataset)+")")
        root = Path(path+"/"+mouse+"/"+date_and_name+'/'+str(HowManyBack)+"_Back")
        d = mouse+"_"+date_+"Notebook_3_"+version_of_notebook_3+"_seq"+version_of_notebook_2_3+'.pickle'
        print (d)
        my_path = root / d 
        
        fileToOpen = open(my_path, 'rb')
        # load the pickle: 
        PhotoData_perTrial_channels = pickle.load(fileToOpen)
        counter += 1       
        PhotoData_perTrial_channels_data_set.append(PhotoData_perTrial_channels)  
    
    return PhotoData_perTrial_channels_data_set

In [17]:
%%time
photoData_perTrial_channels_data_set = extract_photometry_after_down_sampling(Mouse_Date_FileName,path,version_of_notebook_2_3,HowManyBack)

session number 1 was imported (out of 5)
T163_2018_11_27Notebook_3_b_seq2a3b.pickle
session number 2 was imported (out of 5)
T163_2018_11_28Notebook_3_b_seq2a3b.pickle
session number 3 was imported (out of 5)
T163_2018_11_30Notebook_3_b_seq2a3b.pickle
session number 4 was imported (out of 5)
T163_2018_12_03Notebook_3_b_seq2a3b.pickle
session number 5 was imported (out of 5)
T163_2018_12_04Notebook_3_b_seq2a3b.pickle
CPU times: user 67.3 ms, sys: 127 ms, total: 195 ms
Wall time: 241 ms

In [20]:
photoData_perTrial_channels_data_set[2]

,nTrial,iBlock,iTrial,iOccurrence,iState_start,iState_end,analog1,analog2,d2 R,d1 R,d2 L,d1 L,Real_nTrials
0,4.0,1.0,4.0,0.0,23.0,29.0,9.0,225.0,-1.145551,-0.072639,-0.425310,-0.629589,4
1,4.0,1.0,4.0,1.0,29.0,30.0,8.0,225.0,-1.458465,0.041737,0.155242,-0.038073,4
2,4.0,1.0,4.0,2.0,30.0,30.0,2743.0,1192.0,-1.397469,-0.026171,-0.043657,-0.260595,4
3,4.0,1.0,4.0,3.0,30.0,30.0,2758.0,1193.0,-1.460172,-0.060995,0.007731,-0.230803,4
4,4.0,1.0,4.0,4.0,30.0,30.0,8.0,225.0,-1.444965,-0.136814,-0.117555,-0.381954,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265737,255.0,33.0,9.0,1419.0,21.0,14.0,9.0,226.0,-1.278799,-1.141050,-0.726321,-0.809559,255
265738,255.0,33.0,9.0,1420.0,14.0,24.0,2755.0,1191.0,-1.238650,-1.192965,-0.756783,-0.713051,255
265739,255.0,33.0,9.0,1421.0,24.0,25.0,2742.0,1191.0,-1.233010,-1.209082,-0.743582,-0.986552,255
265740,255.0,33.0,9.0,1422.0,25.0,27.0,9.0,226.0,-1.170537,-1.275798,-0.771894,-0.742285,255
265741,255.0,33.0,9.0,1423.0,27.0,23.0,11.0,226.0,-1.184407,-1.266102,-0.716764,-1.285251,255

In [21]:
list(data_set[0].keys())

NameError: name 'data_set' is not defined

In [ ]:
len(list(data_set[0].keys()))

In [ ]:
if not os.path.exists(path_to_save):
    os.makedirs(path_to_save)

In [ ]:
%%time
root = Path(path_to_save)
d = "data_object_continuous"+"_3_"+version_of_notebook_3+'.pickle'
my_path = root / d

In [ ]:
my_path

In [ ]:
my_file = open(my_path, 'wb')
my_file = pickle.dump((data_set),my_file)