In [1]:
import pickle
from pathlib import Path
import pandas as pd 
import os
import sys

In [2]:
import data_set_generate_helper_functions as ghf

In [3]:
sys.executable

'/anaconda3/bin/python3'

# Path to import the data and where to save it

In [4]:
path = "/Volumes/GilInVivoPaper.large/2.Photometry_in_str/1.lateral_medial_6_analysis_1"

# Update depending on analysis:

In [5]:
seq_str = '0a1b2b3j4abcd5a6a7a'
HowManyBack=1

In [6]:
version_of_notebook_2_3=seq_str[seq_str.index('2'):seq_str.index('4')]
version_of_notebook_2_3

'2b3j'

# Folder to save the data:

In [7]:
#folderName="right_dual_color_photo_full_data_after_QC" #folder where the plot data_set will be saved 
folderName="left_dual_color_photo_full_data_set_after_inspection" #folder where the plot data_set will be saved 
#folderName="left_dual_color_photo_full_data_set_after_inspection" #folder where the plot data_set will be saved

In [8]:
path_to_save = path+"/"+folderName+"/"+seq_str
path_to_save

'/Volumes/GilInVivoPaper.large/2.Photometry_in_str/1.lateral_medial_6_analysis_1/left_dual_color_photo_full_data_set_after_inspection/0a1b2b3j4abcd5a6a7a'

# import the data table:

In [9]:
#name of xlsx file that has the sessions we want to run: 
#MasterSheetName= '3.lateral_medial_6_lateral_channels_final'

MasterSheetName= '4.lateral_medial_6_medial_channels_final'

In [10]:
Mouse_Date_FileName = pd.read_excel(path+'/'+MasterSheetName+'.xlsx') #mdf is mouse data file

In [11]:
Mouse_Date_FileName

   mouse    date    file name
0   T163  181127  T163-144959
1   T163  181207  T163-123432
2   T163  181128  T163-115220
3   T163  181204  T163-114628
4   T163  181206  T163-112720
5   T163  181210  T163-102536
6   T163  181213  T163-094646
7   T164  181127  T164-153101
8   T164  181203  T164-122950
9   T164  181128  T164-122054
10  T169  190211  T169-145303
11  T169  190212  T169-145045
12  T169  190226  T169-142505
13  T169  190222  T169-134725
14  T169  190225  T169-145248
15  T169  190125  T169-142626
16  T169  190214  T169-143937
17  T169  190220  T169-141850
18  T169  190219  T169-140515
19  T169  190201  T169-141602
20  T169  190228  T169-142051
21  T169  190131  T169-143728
22  T170  190131  T170-150622
23  T170  190125  T170-150000
24  T170  190201  T170-145715
25  T170  190220  T170-150418
26  T171  190219  T171-150804
27  T171  190128  T171-144901
28  T171  190301  T171-144116
29  T171  190123  T171-165937
30  T171  190221  T171-152107
31  T171  190226  T171-145215
32  T171  190213  T171-151952
33  T171  190122  T171-165215
34  T171  190214  T171-155052
35  T171  190220  T171-153511
36  T171  190222  T171-145829
37  T171  190208  T171-170021
38  T171  190125  T171-153230
39  T171  190215  T171-152142
40  T171  190212  T171-164950
41  T171  190211  T171-143016
42  T171  190131  T171-153700
43  T171  190130  T171-145252
44  T186  190321  T186-153107
45  T186  190325  T186-150810
46  T186  190322  T186-164847
47  T186  190401  T186-142719
48  T186  190328  T186-144534
49  T186  190327  T186-150703
50  T186  190402  T186-140234
51  T186  190405  T186-135725
52  T187  190322  T187-172139
53  T187  190325  T187-153540
54  T187  190401  T187-150132
55  T187  190403  T187-143148
56  T202  190522  T202-141516
57  T202  190529  T202-160644
58  T202  190516  T202-165613

In [12]:
#Mouse_Date_FileName = Mouse_Date_FileName.iloc[0:4,:]

In [13]:
#Mouse_Date_FileName

# Import the full data structure for each session:

In [14]:
%%time
data_trial_data_set = ghf.extract_data_object_photometry_after_down_sampling(Mouse_Date_FileName,path,
                                                                             version_of_notebook_2_3,
                                                                             HowManyBack)

session number 1 was imported (out of 59)
T163_2018_11_27Notebook_3_j_seq2b3j.pickle
session number 2 was imported (out of 59)
T163_2018_12_07Notebook_3_j_seq2b3j.pickle
session number 3 was imported (out of 59)
T163_2018_11_28Notebook_3_j_seq2b3j.pickle
session number 4 was imported (out of 59)
T163_2018_12_04Notebook_3_j_seq2b3j.pickle
session number 5 was imported (out of 59)
T163_2018_12_06Notebook_3_j_seq2b3j.pickle
session number 6 was imported (out of 59)
T163_2018_12_10Notebook_3_j_seq2b3j.pickle
session number 7 was imported (out of 59)
T163_2018_12_13Notebook_3_j_seq2b3j.pickle
session number 8 was imported (out of 59)
T164_2018_11_27Notebook_3_j_seq2b3j.pickle
session number 9 was imported (out of 59)
T164_2018_12_03Notebook_3_j_seq2b3j.pickle
session number 10 was imported (out of 59)
T164_2018_11_28Notebook_3_j_seq2b3j.pickle
session number 11 was imported (out of 59)
T169_2019_02_11Notebook_3_j_seq2b3j.pickle
session number 12 was imported (out of 59)
T169_2019_02_12Notebook_3_j_seq2b3j.pickle
session number 13 was imported (out of 59)
T169_2019_02_26Notebook_3_j_seq2b3j.pickle
session number 14 was imported (out of 59)
T169_2019_02_22Notebook_3_j_seq2b3j.pickle
session number 15 was imported (out of 59)
T169_2019_02_25Notebook_3_j_seq2b3j.pickle
session number 16 was imported (out of 59)
T169_2019_01_25Notebook_3_j_seq2b3j.pickle
session number 17 was imported (out of 59)
T169_2019_02_14Notebook_3_j_seq2b3j.pickle
session number 18 was imported (out of 59)
T169_2019_02_20Notebook_3_j_seq2b3j.pickle
session number 19 was imported (out of 59)
T169_2019_02_19Notebook_3_j_seq2b3j.pickle
session number 20 was imported (out of 59)
T169_2019_02_01Notebook_3_j_seq2b3j.pickle
session number 21 was imported (out of 59)
T169_2019_02_28Notebook_3_j_seq2b3j.pickle
session number 22 was imported (out of 59)
T169_2019_01_31Notebook_3_j_seq2b3j.pickle
session number 23 was imported (out of 59)
T170_2019_01_31Notebook_3_j_seq2b3j.pickle
session number 24 was imported (out of 59)
T170_2019_01_25Notebook_3_j_seq2b3j.pickle
session number 25 was imported (out of 59)
T170_2019_02_01Notebook_3_j_seq2b3j.pickle
session number 26 was imported (out of 59)
T170_2019_02_20Notebook_3_j_seq2b3j.pickle
session number 27 was imported (out of 59)
T171_2019_02_19Notebook_3_j_seq2b3j.pickle
session number 28 was imported (out of 59)
T171_2019_01_28Notebook_3_j_seq2b3j.pickle
session number 29 was imported (out of 59)
T171_2019_03_01Notebook_3_j_seq2b3j.pickle
session number 30 was imported (out of 59)
T171_2019_01_23Notebook_3_j_seq2b3j.pickle
session number 31 was imported (out of 59)
T171_2019_02_21Notebook_3_j_seq2b3j.pickle
session number 32 was imported (out of 59)
T171_2019_02_26Notebook_3_j_seq2b3j.pickle
session number 33 was imported (out of 59)
T171_2019_02_13Notebook_3_j_seq2b3j.pickle
session number 34 was imported (out of 59)
T171_2019_01_22Notebook_3_j_seq2b3j.pickle
session number 35 was imported (out of 59)
T171_2019_02_14Notebook_3_j_seq2b3j.pickle
session number 36 was imported (out of 59)
T171_2019_02_20Notebook_3_j_seq2b3j.pickle
session number 37 was imported (out of 59)
T171_2019_02_22Notebook_3_j_seq2b3j.pickle
session number 38 was imported (out of 59)
T171_2019_02_08Notebook_3_j_seq2b3j.pickle
session number 39 was imported (out of 59)
T171_2019_01_25Notebook_3_j_seq2b3j.pickle
session number 40 was imported (out of 59)
T171_2019_02_15Notebook_3_j_seq2b3j.pickle
session number 41 was imported (out of 59)
T171_2019_02_12Notebook_3_j_seq2b3j.pickle
session number 42 was imported (out of 59)
T171_2019_02_11Notebook_3_j_seq2b3j.pickle
session number 43 was imported (out of 59)
T171_2019_01_31Notebook_3_j_seq2b3j.pickle
session number 44 was imported (out of 59)
T171_2019_01_30Notebook_3_j_seq2b3j.pickle
session number 45 was imported (out of 59)
T186_2019_03_21Notebook_3_j_seq2b3j.pickle
session number 46 was imported (out of 59)
T186_2019_03_25Notebook_3_j_seq2b3j.pickle
session number 47 was imported (out of 59)
T186_2019_03_22Notebook_3_j_seq2b3j.pickle
session number 48 was imported (out of 59)
T186_2019_04_01Notebook_3_j_seq2b3j.pickle
session number 49 was imported (out of 59)
T186_2019_03_28Notebook_3_j_seq2b3j.pickle
session number 50 was imported (out of 59)
T186_2019_03_27Notebook_3_j_seq2b3j.pickle
session number 51 was imported (out of 59)
T186_2019_04_02Notebook_3_j_seq2b3j.pickle
session number 52 was imported (out of 59)
T186_2019_04_05Notebook_3_j_seq2b3j.pickle
session number 53 was imported (out of 59)
T187_2019_03_22Notebook_3_j_seq2b3j.pickle
session number 54 was imported (out of 59)
T187_2019_03_25Notebook_3_j_seq2b3j.pickle
session number 55 was imported (out of 59)
T187_2019_04_01Notebook_3_j_seq2b3j.pickle
session number 56 was imported (out of 59)
T187_2019_04_03Notebook_3_j_seq2b3j.pickle
session number 57 was imported (out of 59)
T202_2019_05_22Notebook_3_j_seq2b3j.pickle
session number 58 was imported (out of 59)
T202_2019_05_29Notebook_3_j_seq2b3j.pickle
session number 59 was imported (out of 59)
T202_2019_05_16Notebook_3_j_seq2b3j.pickle
CPU times: user 681 ms, sys: 1.52 s, total: 2.2 s
Wall time: 35.8 s

In [15]:
data_set = data_trial_data_set.copy()

In [16]:
list(data_set[0].keys())

['nTrial',
 'iBlock',
 'iTrial',
 'iOccurrence',
 'iState_start',
 'iState_end',
 'analog1',
 'analog2',
 'd2 R',
 'd1 R',
 'd2 L',
 'd1 L',
 'Real_nTrials']

In [17]:
data_set[0]

,nTrial,iBlock,iTrial,iOccurrence,iState_start,iState_end,analog1,analog2,d2 R,d1 R,d2 L,d1 L,Real_nTrials
0,4.0,1.0,4.0,0.0,23.0,29.0,2757.0,1192.0,0.674048,5.022024,1.315201,3.294459,4
1,4.0,1.0,4.0,1.0,29.0,30.0,2742.0,1190.0,0.694071,5.079693,1.380508,3.337306,4
2,4.0,1.0,4.0,2.0,30.0,30.0,9.0,226.0,0.712791,5.138283,1.444827,3.380105,4
3,4.0,1.0,4.0,3.0,30.0,30.0,8.0,226.0,0.731528,5.197205,1.510371,3.422474,4
4,4.0,1.0,4.0,4.0,30.0,30.0,2744.0,1192.0,0.749231,5.257138,1.574920,3.464940,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
245622,270.0,33.0,2.0,838.0,21.0,14.0,10.0,230.0,0.349583,0.107183,0.600736,0.571780,270
245623,270.0,33.0,2.0,839.0,14.0,24.0,9.0,227.0,0.350492,0.110228,0.568299,0.553919,270
245624,270.0,33.0,2.0,840.0,24.0,25.0,2744.0,764.0,0.352296,0.113138,0.537131,0.535670,270
245625,270.0,33.0,2.0,841.0,25.0,27.0,2755.0,1192.0,0.353822,0.116401,0.505097,0.517542,270
245626,270.0,33.0,2.0,842.0,27.0,23.0,2751.0,1191.0,0.356168,0.119211,0.474293,0.499124,270

In [18]:
if not os.path.exists(path_to_save):
    os.makedirs(path_to_save)

In [19]:
root = Path(path_to_save)
d = "data_object_photometry_after_down_sampling"+"_"+seq_str+'.pickle'
my_path = root / d

In [20]:
df = pd.DataFrame()

In [21]:
#df.to_csv(str(my_path)+"testinggggggggggg.csv")

In [22]:
my_path

PosixPath('/Volumes/GilInVivoPaper.large/2.Photometry_in_str/1.lateral_medial_6_analysis_1/left_dual_color_photo_full_data_set_after_inspection/0a1b2b3j4abcd5a6a7a/data_object_photometry_after_down_sampling_0a1b2b3j4abcd5a6a7a.pickle')

In [23]:
%%time
my_file = open(my_path, 'wb')
my_file = pickle.dump((data_set),my_file)

CPU times: user 612 ms, sys: 1.83 s, total: 2.45 s
Wall time: 37.5 s