In [15]:
import pickle
from pathlib import Path
import pandas as pd 
import os
import sys

In [16]:
import data_set_generate_helper_functions as ghf

In [17]:
sys.executable

'/anaconda3/bin/python3'

# Path to import the data and where to save it

In [18]:
path = "/Volumes/GilInVivoPaper.large/2.Photometry_in_str/1.lateral_medial_6_analysis"

# Update depending on analysis:

In [19]:
seq_str = '0a1c2a3b4abcde5a6a7a'
HowManyBack=1

In [20]:
version_of_notebook_2_3=seq_str[seq_str.index('2'):seq_str.index('4')]
version_of_notebook_2_3

'2a3b'

# Folder to save the data:

In [21]:
folderName="right_dual_color_photo_full_data" #folder where the plot data_set will be saved 
#folderName="left_dual_color_photo_full_data_set_after_inspection" #folder where the plot data_set will be saved

In [22]:
path_to_save = path+"/"+folderName+"/"+seq_str
path_to_save

'/Volumes/GilInVivoPaper.large/2.Photometry_in_str/1.lateral_medial_6_analysis/right_dual_color_photo_full_data/0a1c2a3b4abcde5a6a7a'

# import the data table:

In [23]:
#name of xlsx file that has the sessions we want to run: 
MasterSheetName= 'lateral_ medial_6_to_run_analysis'

In [24]:
Mouse_Date_FileName = pd.read_excel(path+'/'+MasterSheetName+'.xlsx') #mdf is mouse data file

In [25]:
Mouse_Date_FileName

    mouse    date    file name
0    T163  181127  T163-144959
1    T163  181128  T163-115220
2    T163  181130  T163-133215
3    T163  181203  T163-115901
4    T163  181204  T163-114628
..    ...     ...          ...
99   T202  190525  T202-153611
100  T202  190526  T202-142728
101  T202  190528  T202-140948
102  T202  190529  T202-160644
103  T202  190530  T202-152554

[104 rows x 3 columns]

In [26]:
Mouse_Date_FileName = Mouse_Date_FileName.iloc[0:4,:]

In [27]:
Mouse_Date_FileName

  mouse    date    file name
0  T163  181127  T163-144959
1  T163  181128  T163-115220
2  T163  181130  T163-133215
3  T163  181203  T163-115901

# Import the full data structure for each session:

In [28]:
%%time
data_trial_data_set = ghf.extract_data_object_photometry_after_down_sampling(Mouse_Date_FileName,path,
                                                                             version_of_notebook_2_3,
                                                                             HowManyBack)

session number 1 was imported (out of 4)
T163_2018_11_27Notebook_3_b_seq2a3b.pickle
session number 2 was imported (out of 4)
T163_2018_11_28Notebook_3_b_seq2a3b.pickle
session number 3 was imported (out of 4)
T163_2018_11_30Notebook_3_b_seq2a3b.pickle
session number 4 was imported (out of 4)
T163_2018_12_03Notebook_3_b_seq2a3b.pickle
CPU times: user 56.9 ms, sys: 130 ms, total: 187 ms
Wall time: 5.49 s

In [29]:
data_set = data_trial_data_set.copy()

In [30]:
list(data_set[0].keys())

['nTrial',
 'iBlock',
 'iTrial',
 'iOccurrence',
 'iState_start',
 'iState_end',
 'analog1',
 'analog2',
 'd2 R',
 'd1 R',
 'd2 L',
 'd1 L',
 'Real_nTrials']

In [31]:
if not os.path.exists(path_to_save):
    os.makedirs(path_to_save)

In [32]:
root = Path(path_to_save)
d = "data_object_photometry_after_down_sampling"+"_"+seq_str+'.pickle'
my_path = root / d

CPU times: user 44 Âµs, sys: 0 ns, total: 44 Âµs
Wall time: 48.9 Âµs

In [34]:
%%time
my_file = open(my_path, 'wb')
my_file = pickle.dump((data_set),my_file)

CPU times: user 31.6 ms, sys: 96.7 ms, total: 128 ms
Wall time: 2.57 s