In [1]:
import pickle
from pathlib import Path
import pandas as pd 
import os
import sys

In [2]:
import data_set_generate_helper_functions as ghf

In [3]:
sys.executable

'/anaconda3/bin/python3'

# Path to import the data

In [4]:
path_to_import = "/Volumes/GilInVivoPaper.large/2.Photometry_in_str/0.data_Sets/1.lateral_medial_6"

# Path where to save it

In [5]:
path_to_save= "/Volumes/GilInVivoPaper.large/2.Photometry_in_str/1.lateral_medial_6_analysis"

# Update depending on analysis:

In [6]:
seq_str = '0a1b2a3b4abcd5a6a7a'
HowManyBack=1

# Folder to save the data:

In [7]:
folderName="right_dual_color_photo_full_data" #folder where the plot data_set will be saved 
#folderName="left_dual_color_photo_full_data_set_after_inspection" #folder where the plot data_set will be saved

In [8]:
full_path_to_save = path_to_save+"/"+folderName+"/"+seq_str
full_path_to_save

'/Volumes/GilInVivoPaper.large/2.Photometry_in_str/1.lateral_medial_6_analysis/right_dual_color_photo_full_data/0a1b2a3b4abcd5a6a7a'

# import the data table:

In [9]:
#name of xlsx file that has the sessions we want to run: 
MasterSheetName= 'lateral_ medial_6_to_run_analysis'

In [10]:
Mouse_Date_FileName = pd.read_excel(path_to_import+'/'+MasterSheetName+'.xlsx') #mdf is mouse data file

In [11]:
Mouse_Date_FileName

    mouse    date    file name
0    T163  181127  T163-144959
1    T163  181128  T163-115220
2    T163  181130  T163-133215
3    T163  181203  T163-115901
4    T163  181204  T163-114628
..    ...     ...          ...
99   T202  190525  T202-153611
100  T202  190526  T202-142728
101  T202  190528  T202-140948
102  T202  190529  T202-160644
103  T202  190530  T202-152554

[104 rows x 3 columns]

In [12]:
#Mouse_Date_FileName = Mouse_Date_FileName.iloc[0:45,:]

In [13]:
#Mouse_Date_FileName

# Import the full data structure for each session:

In [14]:
def extract_data_object_data_lick(Mouse_Date_FileName,path):
    data_lick_data_set = []
    counter = 1 
    
    l_mouse = list(Mouse_Date_FileName["mouse"]) 
    l_date_ = list(Mouse_Date_FileName.apply(lambda x: generate_date_(x["date"]),axis=1))  
    l_date_and_name = list(Mouse_Date_FileName.apply(lambda x: generate_name_and_date(x["date"],x["mouse"]),axis=1))
    
    numer_of_sessions_dataset = len(l_mouse)
    
    for (mouse, date_, date_and_name) in zip(l_mouse, l_date_, l_date_and_name):
        print ("session number"+" "+str(counter)+" "+"was imported (out of"+" "+str(numer_of_sessions_dataset)+")")
        data_lick = pd.read_excel(path+"/"+mouse+"/"+date_and_name+"/"+mouse+"_dataLick_label.xlsx")
        data_lick_data_set.append(data_lick)  
        counter +=1
        
    return (data_lick_data_set)

In [15]:
def generate_date_(Date):
    return('20'+str(Date)[:2]+'_'+str(Date)[2:4]+'_'+str(Date)[4:6])

def generate_name_and_date(Date,Mouse):
    return ('20'+str(Date)[:2]+'_'+str(Date)[2:4]+'_'+str(Date)[4:6]+'__'+Mouse)

In [16]:
%%time
behavior_data_lick_data_set = extract_data_object_data_lick(Mouse_Date_FileName,path_to_import)

session number 1 was imported (out of 104)
session number 2 was imported (out of 104)
session number 3 was imported (out of 104)
session number 4 was imported (out of 104)
session number 5 was imported (out of 104)
session number 6 was imported (out of 104)
session number 7 was imported (out of 104)
session number 8 was imported (out of 104)
session number 9 was imported (out of 104)
session number 10 was imported (out of 104)
session number 11 was imported (out of 104)
session number 12 was imported (out of 104)
session number 13 was imported (out of 104)
session number 14 was imported (out of 104)
session number 15 was imported (out of 104)
session number 16 was imported (out of 104)
session number 17 was imported (out of 104)
session number 18 was imported (out of 104)
session number 19 was imported (out of 104)
session number 20 was imported (out of 104)
session number 21 was imported (out of 104)
session number 22 was imported (out of 104)
session number 23 was imported (out of 104)
session number 24 was imported (out of 104)
session number 25 was imported (out of 104)
session number 26 was imported (out of 104)
session number 27 was imported (out of 104)
session number 28 was imported (out of 104)
session number 29 was imported (out of 104)
session number 30 was imported (out of 104)
session number 31 was imported (out of 104)
session number 32 was imported (out of 104)
session number 33 was imported (out of 104)
session number 34 was imported (out of 104)
session number 35 was imported (out of 104)
session number 36 was imported (out of 104)
session number 37 was imported (out of 104)
session number 38 was imported (out of 104)
session number 39 was imported (out of 104)
session number 40 was imported (out of 104)
session number 41 was imported (out of 104)
session number 42 was imported (out of 104)
session number 43 was imported (out of 104)
session number 44 was imported (out of 104)
session number 45 was imported (out of 104)
session number 46 was imported (out of 104)
session number 47 was imported (out of 104)
session number 48 was imported (out of 104)
session number 49 was imported (out of 104)
session number 50 was imported (out of 104)
session number 51 was imported (out of 104)
session number 52 was imported (out of 104)
session number 53 was imported (out of 104)
session number 54 was imported (out of 104)
session number 55 was imported (out of 104)
session number 56 was imported (out of 104)
session number 57 was imported (out of 104)
session number 58 was imported (out of 104)
session number 59 was imported (out of 104)
session number 60 was imported (out of 104)
session number 61 was imported (out of 104)
session number 62 was imported (out of 104)
session number 63 was imported (out of 104)
session number 64 was imported (out of 104)
session number 65 was imported (out of 104)
session number 66 was imported (out of 104)
session number 67 was imported (out of 104)
session number 68 was imported (out of 104)
session number 69 was imported (out of 104)
session number 70 was imported (out of 104)
session number 71 was imported (out of 104)
session number 72 was imported (out of 104)
session number 73 was imported (out of 104)
session number 74 was imported (out of 104)
session number 75 was imported (out of 104)
session number 76 was imported (out of 104)
session number 77 was imported (out of 104)
session number 78 was imported (out of 104)
session number 79 was imported (out of 104)
session number 80 was imported (out of 104)
session number 81 was imported (out of 104)
session number 82 was imported (out of 104)
session number 83 was imported (out of 104)
session number 84 was imported (out of 104)
session number 85 was imported (out of 104)
session number 86 was imported (out of 104)
session number 87 was imported (out of 104)
session number 88 was imported (out of 104)
session number 89 was imported (out of 104)
session number 90 was imported (out of 104)
session number 91 was imported (out of 104)
session number 92 was imported (out of 104)
session number 93 was imported (out of 104)
session number 94 was imported (out of 104)
session number 95 was imported (out of 104)
session number 96 was imported (out of 104)
session number 97 was imported (out of 104)
session number 98 was imported (out of 104)
session number 99 was imported (out of 104)
session number 100 was imported (out of 104)
session number 101 was imported (out of 104)
session number 102 was imported (out of 104)
session number 103 was imported (out of 104)
session number 104 was imported (out of 104)
CPU times: user 21.2 s, sys: 188 ms, total: 21.4 s
Wall time: 21.5 s

extract_data_object_data_lick(Mouse_Date_FileName,path)

In [17]:
behavior_data_lick_data_set[0].to_csv("testing2.csv")

# A function to help loop on each sessioon with various functions

In [18]:
def session_looper(data_set,function):
    organized_data_lick_list=[]
    for session in data_set:
        result = function(session)
        organized_data_lick_list.append(result)
    return organized_data_lick_list

In [19]:
def clean_behavior_data_lick (behavior_data_lick):        
    if behavior_data_lick.columns.tolist() == ['iBlock', 'iTrial', 'iSpout', 'sTrial_start', 'sTrial_end', 'tState']:
        pass
    else:
        #Shifting the names on the columns, so each column has the right label. (the raw data has these labels shifted)
        behavior_data_lick=behavior_data_lick.rename(columns={"nTrial": "iBlock", "iBlock":"iTrial", "iTrial":"iSpout","iSpout":"sTrial_start", "sTrial_start":"sTrial_end", "sTrial_end":"tState_new"})
        #I will delete the extra column
        behavior_data_lick=behavior_data_lick.drop("tState", 1)
        behavior_data_lick=behavior_data_lick.rename(columns={"tState_new":"tState"})
    #this is to delete the first and last rows which have no lick data  
    
    behavior_data_lick=behavior_data_lick[1: -1]
    #Drop everything before first trial
    behavior_data_lick= behavior_data_lick[behavior_data_lick.iBlock>0]
    return (behavior_data_lick)

In [20]:
behavior_data_lick_data_set_clean = session_looper (behavior_data_lick_data_set,clean_behavior_data_lick)

In [21]:
data_set = behavior_data_lick_data_set_clean.copy()

In [22]:
data_set[0].to_csv("testing.csv")

In [23]:
%%time
root = Path(full_path_to_save)
d = "data_object_data_lick"+"_"+seq_str+'.pickle'
my_path = root / d 
print (my_path)
my_file = open(my_path, 'wb')
my_file = pickle.dump((data_set),my_file)

/Volumes/GilInVivoPaper.large/2.Photometry_in_str/1.lateral_medial_6_analysis/right_dual_color_photo_full_data/0a1b2a3b4abcd5a6a7a/data_object_data_lick_0a1b2a3b4abcd5a6a7a.pickle
CPU times: user 21.9 ms, sys: 25.1 ms, total: 46.9 ms
Wall time: 408 ms

In [24]:
df_with_states = pd.read_csv("/Users/gilmandelbaum/Desktop/stateList.csv", header=None,names = ["state #","description"])

In [25]:
def unique_list_of_state_transitions(behavior_data_lick_df_data_set):
    
    st_transi_data_set= []
    count = 0

    for behavior_data_lick_df in behavior_data_lick_df_data_set:
        
        behavior_data_lick_df["state_tuple"] = behavior_data_lick_df.apply(lambda x: (x["sTrial_start"], x["sTrial_end"]), axis=1)
        state_transition_unique_session = list(set(behavior_data_lick_df["state_tuple"]))
        st_transi_data_set.extend(state_transition_unique_session)
        
    
    st_transi_uni_data_set = list(set(st_transi_data_set))
    st_transi_uni_data_set_sorted = sorted(st_transi_uni_data_set, key=lambda x: x[0])
    st_transi_uni_data_set_sorted_names = pd.DataFrame(st_transi_uni_data_set_sorted, columns = ["sTrial_start #","sTrial_end #"])
    
    
    return (st_transi_uni_data_set_sorted_names)

In [26]:
%%time
st_transi_uni_df = unique_list_of_state_transitions(data_set)

CPU times: user 7.36 s, sys: 63.3 ms, total: 7.42 s
Wall time: 7.47 s

In [27]:
st_transi_uni_df

    sTrial_start #  sTrial_end #
0               14            24
1               16            20
2               20            21
3               21            14
4               23            29
5               24            25
6               25            27
7               27            23
8               29            32
9               30            32
10              32            33
11              33            29
12              33            33
13              38            41
14              39            41
15              41            42
16              42            42
17              47            54
18              47            48
19              47            50
20              48            50
21              48            54
22              50            51
23              51            51
24              51            52
25              52            53
26              53            53
27              53            61
28              54            55
29              55            55
30              58            58
31              61            82
32              62            63
33              63            20
34              63            78
35              66            75
36              75            16
37              78            66
38              82            62
39              94            94
40              96            96
41              96            20

In [28]:
st_transi_uni_df['Trial_start_description']=st_transi_uni_df['sTrial_start #']
st_transi_uni_df['Trial_end_description']=st_transi_uni_df['sTrial_end #']

state_num_list=list(df_with_states['state #'])
state_description_list=list(df_with_states['description'])

st_transi_uni_df['Trial_start_description'].replace(to_replace=state_num_list, value=state_description_list, 
                                                    inplace=True)
st_transi_uni_df['Trial_end_description'].replace(to_replace=state_num_list, value=state_description_list, 
                                                    inplace=True)

In [29]:
st_transi_uni_df

    sTrial_start #  sTrial_end # Trial_start_description Trial_end_description
0               14            24       setSettings_Laser     initTrial_LC_ENL1
1               16            20               initBlock             initTrial
2               20            21               initTrial            initTrial2
3               21            14              initTrial2     setSettings_Laser
4               23            29              initTrial4              ENL1_pre
5               24            25       initTrial_LC_ENL1     initTrial_LC_Cue1
6               25            27       initTrial_LC_Cue1      initTrial_LC_Sel
7               27            23        initTrial_LC_Sel            initTrial4
8               29            32                ENL1_pre       ENL1Penalty_pre
9               30            32                    ENL1       ENL1Penalty_pre
10              32            33         ENL1Penalty_pre           ENL1Penalty
11              33            29             ENL1Penalty              ENL1_pre
12              33            33             ENL1Penalty           ENL1Penalty
13              38            41                Cue1_pre       Cue1Penalty_pre
14              39            41                    Cue1       Cue1Penalty_pre
15              41            42         Cue1Penalty_pre           Cue1Penalty
16              42            42             Cue1Penalty           Cue1Penalty
17              47            54           Selection_pre       SelectWrong_pre
18              47            48           Selection_pre             Selection
19              47            50           Selection_pre      SelectReward_pre
20              48            50               Selection      SelectReward_pre
21              48            54               Selection       SelectWrong_pre
22              50            51        SelectReward_pre          SelectReward
23              51            51            SelectReward          SelectReward
24              51            52            SelectReward  SelectRewardPost_pre
25              52            53    SelectRewardPost_pre      SelectRewardPost
26              53            53        SelectRewardPost      SelectRewardPost
27              53            61        SelectRewardPost             endTrial1
28              54            55         SelectWrong_pre           SelectWrong
29              55            55             SelectWrong           SelectWrong
30              58            58           SelectTimeout         SelectTimeout
31              61            82               endTrial1    saveData_dataTrial
32              62            63               endTrial2             endTrial3
33              63            20               endTrial3             initTrial
34              63            78               endTrial3    saveData_dataBlock
35              66            75                endBlock  commUpload_dataTrial
36              75            16    commUpload_dataTrial             initBlock
37              78            66      saveData_dataBlock              endBlock
38              82            62      saveData_dataTrial             endTrial2
39              94            94              FreeReward            FreeReward
40              96            96          FreeRewardPost        FreeRewardPost
41              96            20          FreeRewardPost             initTrial

In [30]:
def count_state_transitions_per_session(behavior_data_lick_df_data_set,st_transi_uni_df,Mouse_Date_FileName):
    
    st_transi_uni_df_list = list(st_transi_uni_df.apply(lambda x: (x["sTrial_start #"], x["sTrial_end #"]), axis=1))
    l_date_and_name = list(Mouse_Date_FileName.apply(lambda x: generate_name_and_date(x["date"],x["mouse"]),axis=1))

    for behavior_data_lick_df, date_and_name in zip(behavior_data_lick_df_data_set,l_date_and_name):
        counts_per_session_list = []
        state_transition_session_list = list(behavior_data_lick_df.apply(lambda x: (x["sTrial_start"], x["sTrial_end"]), axis=1))
        
        for tuple_states in st_transi_uni_df_list:
            count = state_transition_session_list.count(tuple_states)
            counts_per_session_list.append(count)
        
        st_transi_uni_df[date_and_name] = counts_per_session_list
    
    return (st_transi_uni_df)

In [ ]:
def count_states_occurance(st_transi_uni_df,uni_trans_list,data_set,session_list):
    for session,date in zip(data_set,session_list):
        trans_count_list = []
        for trans in uni_trans_list:
            session_state_occurance = len(session[session['state_tuple']==trans])
            trans_count_list.append(session_state_occurance)
        st_transi_uni_df[date]=trans_count_list
            
    return st_transi_uni_df

In [31]:
%%time

st_transi_uni_df_num_licks_per_session = count_state_transitions_per_session(data_set,
                                                                              st_transi_uni_df,
                                                                              Mouse_Date_FileName)

CPU times: user 7.64 s, sys: 50 ms, total: 7.69 s
Wall time: 7.74 s

In [32]:
st_transi_uni_df_num_licks_per_session.head()

,sTrial_start #,sTrial_end #,Trial_start_description,Trial_end_description,2018_11_27__T163,2018_11_28__T163,2018_11_30__T163,2018_12_03__T163,2018_12_04__T163,2018_12_06__T163,...,2019_05_18__T202,2019_05_20__T202,2019_05_21__T202,2019_05_22__T202,2019_05_24__T202,2019_05_25__T202,2019_05_26__T202,2019_05_28__T202,2019_05_29__T202,2019_05_30__T202
0,14,24,setSettings_Laser,initTrial_LC_ENL1,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,0
1,16,20,initBlock,initTrial,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,20,21,initTrial,initTrial2,2,1,0,0,0,0,...,1,0,0,0,0,0,0,2,0,1
3,21,14,initTrial2,setSettings_Laser,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,23,29,initTrial4,ENL1_pre,0,1,1,0,0,0,...,0,0,1,0,0,1,0,0,0,0

In [33]:
st_transi_uni_df_num_licks_per_session.iloc[:,4:]

,2018_11_27__T163,2018_11_28__T163,2018_11_30__T163,2018_12_03__T163,2018_12_04__T163,2018_12_06__T163,2018_12_07__T163,2018_12_10__T163,2018_12_11__T163,2018_12_13__T163,...,2019_05_18__T202,2019_05_20__T202,2019_05_21__T202,2019_05_22__T202,2019_05_24__T202,2019_05_25__T202,2019_05_26__T202,2019_05_28__T202,2019_05_29__T202,2019_05_30__T202
0,1,0,1,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,2,1,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,2,0,1
3,0,1,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,1,1,0,0,0,0,0,2,0,...,0,0,1,0,0,1,0,0,0,0
5,1,0,1,0,0,0,1,0,2,0,...,0,0,2,0,1,1,0,0,0,1
6,0,0,1,0,0,0,0,0,0,0,...,3,1,1,1,0,0,0,0,0,2
7,0,0,1,0,0,0,0,0,0,1,...,2,0,0,0,0,0,0,0,0,0
8,3,3,1,3,0,0,0,0,0,0,...,3,0,1,0,3,0,1,2,2,2
9,235,91,182,258,74,39,83,102,168,109,...,818,649,399,292,599,221,92,446,128,212
10,1,1,1,4,1,1,1,0,0,0,...,1,0,2,0,5,0,0,1,1,0
11,0,1,1,2,1,0,1,0,0,0,...,2,2,4,0,4,2,1,2,0,1
12,4,1,0,6,1,2,0,1,4,0,...,22,26,14,8,20,5,7,17,4,9
13,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,1
14,10,0,5,2,1,1,0,3,7,5,...,26,11,11,6,12,8,1,15,4,8
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
16,14,0,8,2,2,1,0,10,8,13,...,56,21,13,9,17,13,1,29,13,14
17,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,1,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,1,0,0,0,0
20,189,194,202,200,203,184,203,204,196,225,...,204,123,202,204,201,200,201,209,201,203
21,77,60,58,60,60,50,68,47,71,48,...,91,55,85,89,81,81,62,79,59,74
22,2,1,1,0,0,1,3,0,2,2,...,1,0,0,3,0,0,0,1,1,0
23,1,2,4,8,3,6,4,3,4,2,...,15,6,6,6,13,9,9,9,6,5
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,2632,2329,2814,2426,2267,2030,2460,2760,3107,3265,...,2490,1509,2035,2306,2597,2213,2081,2376,1826,2308
27,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
28,0,0,0,1,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,1
29,147,86,137,88,115,88,110,82,124,99,...,282,150,185,162,181,174,124,271,128,207
30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,3,0,0,1,0,0
32,1,0,0,0,0,0,0,1,1,1,...,1,0,0,1,0,0,0,0,0,0
33,0,1,0,0,0,0,0,0,0,1,...,1,0,0,0,2,0,0,0,0,0
34,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,1,0,2,0,0,0,0,0,3,1,...,1,0,0,0,2,0,1,1,0,1
39,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,61,32,0,12,14,19,32,0,61,0,...,87,42,114,33,72,33,12,53,3,59
41,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
st_transi_uni_df_num_licks_per_session ["total_number_of_licks_state_transi"] = st_transi_uni_df_num_licks_per_session.iloc[:,4:].sum(axis=1)

In [35]:
st_transi_uni_df_num_licks_per_session.to_csv("testing.csv")