# Notebook 2_b

In [1]:
import pickle
from pathlib import Path
import tdt
import pandas as pd 
import scipy.signal as sp_signal

In [2]:
import Notebook_2_helper_functions as Nb_2

In [3]:
mouse = 'T240'
data_day = '2019_09_27__T240'
date = '2019_09_27'

photo_day = 'T240-145905'

HowManyBack=1 

data_dir_input = "/Users/gilmandelbaum/Desktop/T240_mouse"
data_dir_output = "/Users/gilmandelbaum/Desktop/output/"

# Import behavior related data per state transition

In [4]:
behavior_data_states = pd.read_csv(data_dir_input+"/"+mouse+"/"+data_day+"/"+mouse+"_dataAnalog.csv")

In [5]:
behavior_data_states = Nb_2.prepare_behavior_data(behavior_data_states)

# Import photometry data

In [6]:
photometry_data = tdt.read_block(data_dir_input+"/"+mouse+"/"+photo_day)

read from t=0s to t=1345.46s

# Grab only what is needed from the TDT photo tanks and make a df.

In [7]:
#The photometry TDT data structure has a lot of info. 
#We will create 1 data frame that has: 
# 
#['d2 R' , 'd1 R', 'd2 L', "d1 L", "toBehSys", "fromBehSys" ]

def reading_in_photometryData_all_Channels(data):
    photometry_all_channels_d = {}
    photometry_all_channels_d["d2 R"]=photometry_data.streams.grn1.data 
    photometry_all_channels_d["d1 R"]=photometry_data.streams.red1.data 
    
    
    photometry_all_channels_d["d2 L"]=photometry_data.streams.grn2.data 
    photometry_all_channels_d["d1 L"]=photometry_data.streams.red2.data 
    
    
    
    photometry_all_channels_d["toBehSys"]=photometry_data.streams.toGG.data 
    photometry_all_channels_d["fromBehSys"]=photometry_data.streams.froG.data 
    photometry_all_channels= pd.DataFrame(data=photometry_all_channels_d)
    
    return (photometry_all_channels)

In [8]:
photometry_all_channels=reading_in_photometryData_all_Channels(photometry_data)

# Clean the photometry data (or any neural data)

In [9]:
photometry_all_channels_clean = Nb_2.handshake_behav_recording_sys(photometry_all_channels)

# Clean behavior states data

In [10]:
behavior_data_states_clean = Nb_2.define_behavior_data_states(behavior_data_states)

# pre syncing steps for photometry data (or any neural data) and behavior data

In [11]:
behavior_data_states_clean_binNumberlist=Nb_2.number_of_bins_beh_data_per_trial(behavior_data_states_clean)

In [12]:
photometry_all_channels_clean_binNumberlist = Nb_2.number_of_bins_photo_data_per_trial(photometry_all_channels_clean)

# Resample the photometry data (or any neural data) and align to 200 hz state transition behavioral data

In [24]:
photometry_all_channels_clean

                d2 R        d1 R        d2 L        d1 L  toBehSys  fromBehSys
0        1110.641357  319.187805  889.529785  807.124390       1.0         0.0
1        1110.641357  319.188416  889.528992  807.125305       1.0         0.0
2        1110.641357  319.189056  889.528198  807.126221       1.0         0.0
3        1110.641235  319.189667  889.527405  807.127075       1.0         0.0
4        1110.641235  319.190308  889.526672  807.127991       1.0         0.0
...              ...         ...         ...         ...       ...         ...
8162261  1046.929810  295.138245  856.593201  736.605835       0.0         1.0
8162262  1046.927979  295.137909  856.590149  736.606262       0.0         1.0
8162263  1046.926270  295.137634  856.587036  736.606689       0.0         1.0
8162264  1046.924561  295.137360  856.583984  736.607056       0.0         1.0
8162265  1046.922729  295.137085  856.580872  736.607422       0.0         1.0

[8162266 rows x 6 columns]

In [25]:
photometry_all_channels_clean.loc[0:2000,['d2 R', 'd1 R', 'd2 L', 'd1 L']]

             d2 R        d1 R        d2 L        d1 L
0     1110.641357  319.187805  889.529785  807.124390
1     1110.641357  319.188416  889.528992  807.125305
2     1110.641357  319.189056  889.528198  807.126221
3     1110.641235  319.189667  889.527405  807.127075
4     1110.641235  319.190308  889.526672  807.127991
...           ...         ...         ...         ...
1996  1109.903076  319.047699  889.847534  807.476013
1997  1109.902344  319.048004  889.849121  807.474792
1998  1109.901611  319.048279  889.850708  807.473572
1999  1109.900879  319.048584  889.852295  807.472351
2000  1109.900146  319.048859  889.853882  807.471069

[2001 rows x 4 columns]

In [32]:
def resample_photoData_and_align_photo_with_beh_1(beh_binslist, behdf, photo_raw, photo_binslist):
    if len(photo_binslist) < len(beh_binslist):
        shorter_list = len(photo_binslist)
    else: 
        shorter_list = len(beh_binslist)

    beh_binslist_short= beh_binslist[0:(shorter_list)]
    photo_binslist_short= photo_binslist[0:(shorter_list)]
    

    total_num_behav_bins = sum(beh_binslist_short)
    total_num_photo_bins = sum (photo_binslist_short)
    
    #print (total_num_behav_bins)
    #print (total_num_photo_bins)
    
    photo_raw_to_resample = photo_raw.loc[0:(total_num_photo_bins-1),['d2 R', 'd1 R', 'd2 L', 'd1 L']]
    #print (len (photo_raw_to_resample))
    photo_resample = pd.DataFrame(sp_signal.resample(photo_raw_to_resample, total_num_behav_bins))
    
    photo_resample.columns = ['d2 R', 'd1 R', 'd2 L', 'd1 L']
    
    df_photo_beh = pd.concat([behdf, photo_resample], axis=1)
    
    
    return (df_photo_beh)

In [33]:
aligned_behav_photo = resample_photoData_and_align_photo_with_beh_1(behavior_data_states_clean_binNumberlist,
                                                                    behavior_data_states_clean,
                                                                    photometry_all_channels_clean,
                                                                    photometry_all_channels_clean_binNumberlist)

265428
8130603
8130603

In [ ]:
aligned_behav_photo = Nb_2.tag_real_full_trial(aligned_behav_photo)

In [ ]:
root = Path(data_dir_output+"/"+mouse+"/"+data_day+'/'+str(HowManyBack)+"_Back")
d = mouse+"_"+date+"Notebook_2_b.pickle"
my_path = root / d 
my_file = open(my_path, 'wb')
my_file = pickle.dump(aligned_behav_photo,my_file)